.header{
    background-color:rgb(243, 123, 10);
    color: white;
}

#menu{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

#menu li{
   display: inline-block;
}
#logo{
    font-size: 2rem;
   margin-top: 5px;
}
#menu li a{
   text-decoration: none;
   color: white;
   padding: 15px 10px;
   display: flex;
}
#menu li a:hover{
    background-color: orangered;
}

#banner{
    background: url(images/notebook-natural-laptop-macbook.jpg) no-repeat 0 0;
    background-size: cover;
    color: white;
}

.banner-title{
    padding-top: 4rem;
    padding-bottom: 4rem;

}

.banner-title h1{
    background-color: rgb(247, 136, 9,0.8);
    padding: 10px ;
    font-size: 34px;
    display: inline-block;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.banner-title p{
    background-color: white;
    color: black;
    padding: 10px;
    margin-top: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(235, 238, 240 ,0.8);
}

.section{
    padding-top:50px;
    padding-bottom: 50px;
}

.section h2.section-head{
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.section h2.section-head:after{
    background-color: orange;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}
.service-box{
    text-align: center;
    box-shadow: 5px 5px 10px black;
    padding: 20px;
    border-radius:20px ;
    background-color: lightblue;
    transition: 0.2s;
    margin: 30px;
}
.service-box:hover{
    margin-top: -15px;
    background-color: rgb(103, 209, 62);
}

.service-box i.fa{
    color: orange;
    text-align: center;
    font-size: 70px;
}

#testimonials{
    background: url(images/photo-1645821857147-99fcec2ae3c1.jpg) no-repeat 0 0;
    
    background-size: cover;
  
    position: relative;
}
.testimonial{
color: black;
}
.testimonial img{
    width: 160px;
    height: 160px;
   border-radius: 25%;
   margin-bottom: 10px;
}


.news-post img{
    width: 100%;
    margin-bottom: 10px;
}

.news-post h3 a{
    font-size: 17px;
    color: orange;
    text-decoration: none;
}

.post-date{
    font-size: 13px;
    margin-bottom: 4px;
}

.post-date i.las{
    color:green;
    font-size: 20px;
}

a.readmore{
    color: orange;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 10px;
}

/*footer side*/



.profile{
    color: rgb(224, 111, 111);
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

#main-foot{
    background-color: rgb(3, 3, 29);
}

.unorder{
    margin: 0;
    padding: 0;
}
.unorder li{
    list-style: none;
    margin-bottom: 5px;
}

.unorder li a{
    text-decoration: none;
}

a i.fa{
    color: white;
    font-size: 35px;
    display: block;
    list-style: none;
    text-decoration: none;
   
    text-align: center;
}

.add{
    text-align: center;
    color: white;
    
}


.inpu input{
   text-align: center;
   width: 350px;
   border-radius: 20px;
   border: 2px solid rgb(62, 62, 235);
   box-shadow: 5px 5px 10px rgb(47, 47, 177);
   padding-top: 5px;

  
   margin-bottom: 10px;
}
.cont label{
    font-size: larger;
    font-weight:800 ;
}
.contact{
    background-color: rgb(243, 237, 237);
    padding: 10px 0;
}


.filling{
  margin: 20px auto;
}
input{
    margin: 17px auto;
    text-align: center;
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 2px 12px;
    width: 100%;
}
span{
    color: rgb(7, 5, 5);
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
}
.forms{
    background-color: rgb(16, 241, 103);
}

.myimage{
    width: 100%;
    height: auto;
    margin-bottom: -50px;

}

.past h2{
    font-size: 25px;
    color: red;
}

.past p{
    color: green;
}

.cut{
    background-color: rgb(163, 41, 41);
    padding: 20px;
    text-align: center;
    margin: auto;
    width: 300px;
    height: 300px;
}




/*media query*/

@media(max-width:786px){
    .testimonial{
        text-align: center;
    }
    #logo{
        text-align: center;
        margin: 10px 0;
    }

#menu{
    text-align: center;
}

.section{
    padding-top:30px;
    padding-bottom: 30px;
}

.news-post{
    margin-bottom: 20px;
}

.unorder{
    text-align: center;
}

}